# Core dependencies
napari[all]>=0.4.16
numpy>=1.20.0
pillow>=8.0.0
qtpy
opencv-python-headless # Due to the CICD testing its necessary to use a opencv-python-headless server
scikit-image
scipy
openai
python-dotenv
mypy
types-Pillow

# Development and testing dependencies
pytest
pytest-dotenv
pytest-cov
pytest-qt
pytest-benchmark  # For performance testing

# Plugin development
setuptools
wheel

